<form method="post">
    <div class="btn-group btn-group-xs pull-left" data-toggle="buttons">
        <label class="btn btn-primary active" id="">
            <input onchange="this.form.submit();" type="radio" name="buyfees" value="no" autocomplete="off"> No fees
        </label>
        <label class="btn btn-primary" id="">
            <input onchange="this.form.submit();" type="radio" name="buyfees" value="yes" autocomplete="off"> Fees
        </label>
    </div>
</form>

<div class="chart-container">
    <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
    <canvas class="charts" id="buychart" style="width: 1118px; height: 559px;" width="1118" height="559">
        
    </canvas>
</div>